<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지 리스트</title>
    <link rel="stylesheet" href="/css/notice.css"/>
    <script type="text/javascript">

        //상세보기 이동
        function doDetail(seq) {
            location.href = "/notice/noticeInfo?nSeq=" + seq;
        }

    </script>
</head>
<body>
<a href="/allergy/main">
    <img src="/image/Allergy_logo.png">
</a>
<hr style="border-width: 5px;"/>
<br/>
<div class="board">
    <div class="board-header">
        <div class="board-cell">순번</div>
        <div class="board-cell">제목</div>
        <div class="board-cell">조회수</div>
        <div class="board-cell">글쓴이</div>
        <div class="board-cell">등록일</div>
    </div>
</div>
<div class="board-row" th:each="dto: ${rList}">
    <div class="board-cell" th:if="${dto.noticeYn=='Y'}" th:text="공지"></div>
    <div class="board-cell" th:unless="${dto.noticeYn=='Y'}" th:text="${dto.noticeSeq}"></div>
    <div class="board-cell" th:text="${dto.title}" th:onclick="doDetail([[${dto.noticeSeq}]])"></div>
    <div class="board-cell" th:text="${dto.readCnt}"></div>
    <div class="board-cell" th:text="${dto.userId}"></div>
    <div class="board-cell" th:text="${dto.regDt}"></div>
</div>
<br/>
<div class="button-container">
    <button class="write-button" onclick="location.href='/notice/noticeReg'">글쓰기</button>
</div>
</body>
</html>
