<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>게시판 글보기</title>
    <link rel="stylesheet" href="/css/notice.css"/>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/noticeinfo.js"></script>
    <script th:inline="javascript">

        /*<![CDATA[*/
        const session_user_id = [[${session.SS_USER_ID}]]; // Controller에서 받은 세션에 저장된 값
        const user_id = [[${rDTO.userId}]]; // 공지사항 게시글 작성자 아이디
        const nSeq = [[${rDTO.noticeSeq}]]; // 현재 글번호, 자바에서 받을 변수들은 자바스크립트 변수로 저장하면 편함
        const textContent = [[${rDTO.contents()}]];
        const cList = [[${cList}]];

        /*]]>*/
    </script>
</head>
<body>
<a href="/allergy/main">
    <img src="/image/Allergy_logo.png">
</a>
<hr style="border-width: 5px;"/>
<br/>
<div class="board">
    <div class="board-row">
        <div class="board-cell">순번
        </div>
        <div class="board-cell" th:text="${rDTO.noticeSeq}" name="noticeSeq"></div>
    </div>
    <div class="board-row">
        <div class="board-cell">제목
        </div>
        <div class="board-cell" th:text="${rDTO.title}"></div>
    </div>
    <div class="board-row">
        <div class="board-cell">작성자
        </div>
        <div class="board-cell" th:text="${rDTO.userId}"></div>
    </div>
    <div class="board-row">
        <div class="board-cell">작성일</div>
        <div class="board-cell" th:text="${rDTO.regDt}"></div>
    </div>
    <div class="board-row">
        <div class="board-cell">조회수</div>
        <div class="board-cell" th:text="${rDTO.readCnt}"></div>
    </div>
    <div class="board-row">
        <div class="board-cell">내용</div>
        <div class="board-cell" th:text="${rDTO.contents}" id="textContent"></div>
    </div>
    <div class="image-gallery" style="margin-top: 10px">
        <div class="board-cell">추가된 이미지<br/></div>
        <th:block th:each="iList : ${iList}">
            <img th:src="${iList.imagePath}" class="post-image" style="max-width: 80%; margin-top: 10px;"
                 alt="Post Image"/>
        </th:block>
    </div>
</div>


<div class="button-container">
    <div th:if="${session.SS_USER_ID}">
        <div class="heart" th:if="${likeDTO.existsYn()}=='Y'">
            <button class="liked" th:onclick="delLike([[${rDTO.noticeSeq}]])"> 🤍 </button>
        </div>
        <div class="heart" th:unless="${likeDTO.existsYn()}=='Y'">
            <button class="not-liked" th:onclick="addLike([[${rDTO.noticeSeq}]])"> 좋아요 </button>
        </div>
    </div>
    <button class="write-button" id="btnEdit" type="button">수정</button>
    <button class="write-button" id="btnDelete" type="button">삭제</button>
    <button class="write-button" id="btnList" type="button">목록</button>
</div>

<h3>댓글</h3>
<hr>
<ul id="comments-list" class="comments-list">
    <li th:each="dto : ${cList}">
        <div class="comment-box" th:id="'comment'+${dto.commentSeq()}">
            <div class="comment-head">
                <h4 class="comment-name by-user" name="cUserId" th:text="'작성자 : ' + ${dto.userId()}"></h4>
                <div class="commentSeq-invisible" name="commentSeq" th:text="${dto.commentSeq()}" style="display:none"></div>
                <div class="comment-right">
                    <span class="func-inline" name="ChgDt" th:text="${dto.commentChgDt()}"></span>
                    <div class="func-inline" th:if="${session.SS_USER_ID}==${dto.userId()}">
                        <span class="comment_edit" th:id="'comment_edit'+${dto.commentSeq()}"
                              th:onclick="doCEdit([[${dto.commentSeq()}]])">수정</span>
                        <span class="comment-del" th:id="'comment-del' +${dto.commentSeq()}"
                              th:onclick="doCDel([[${dto.commentSeq()}]])">삭제</span>
                    </div>
                </div>
            </div>
            <div class="comment-content" th:id="'commentContent' +${dto.commentSeq()}" name="commentContent">
            </div>
        </div>
    </li>
</ul>


<hr>
<div class="comment" th:if="${session.SS_USER_ID}">
    <label>
        <textarea id="cContent" name="content" style="height: 60px; width : 750px" rows="3"
                placeholder="댓글 내용을 입력해주세요."></textarea>
        <div>
            <button id="btnCInst" type="button">
                <div class="w-full">
                    <span>댓글 쓰기</span>
                </div>
            </button>
        </div>
    </label>
</div>

</body>
</html>

