<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>게시판 글보기</title>
    <link rel="stylesheet" href="/css/notice.css"/>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/noticeinfo.js"></script>
    <script th:inline="javascript">

        /*<![CDATA[*/
        const session_user_id = [[${session.SS_USER_ID}]]; // Controller에서 받은 세션에 저장된 값
        const user_id = [[${rDTO.userId}]]; // 공지사항 게시글 작성자 아이디
        const nSeq = [[${rDTO.noticeSeq}]]; // 현재 글번호, 자바에서 받을 변수들은 자바스크립트 변수로 저장하면 편함
        const textContent = [[${rDTO.contents()}]];
        const cList = [[${cList}]];

        /*]]>*/
    </script>
</head>
<body>
<a href="/allergy/main">
    <img src="/image/Allergy_logo.png">
</a>
<hr style="border-width: 5px;"/>
<br/>
<div class="board">
    <div class="board-row">
        <div class="board-cell">제목
        </div>
        <div class="board-cell" th:text="${rDTO.title}"></div>
    </div>
    <div class="board-row">
        <div class="board-cell">작성자
        </div>
        <div class="board-cell" th:text="${rDTO.userId}"></div>
    </div>
    <div class="board-row">
        <div class="board-cell">작성일</div>
        <div class="board-cell" th:text="${rDTO.regDt}"></div>
    </div>
    <div class="board-row">
        <div class="board-cell">조회수</div>
        <div class="board-cell" th:text="${rDTO.readCnt}"></div>
    </div>
    <div class="board-row">
        <div class="board-cell">내용</div>
        <div class="board-cell" th:text="${rDTO.contents}"></div>
    </div>
</div>


<div class="button-container">
    <button class="write-button" id="btnEdit" type="button">수정</button>
    <button class="write-button" id="btnDelete" type="button">삭제</button>
    <button class="write-button" id="btnList" type="button">목록</button>
</div>

<h5
        class="my-3 text-xl font-semibold text-gray-700 dark:text-gray-200 comment-name"
>
    댓글
</h5>
<hr>
<ul id="comments-list" class="comments-list">
    <li th:each="dto : ${cList}">
        <div class="comment-box" th:id="'comment'+${dto.commentSeq()}">
            <div class="comment-head">
                <h6 class="comment-name by-user" name="cUserId" th:text="${dto.userId()}"></h6>
                <div class="commentSeq-invisible" name="commentSeq" th:text="${dto.commentSeq()}"></div>
                <div class="comment-right">
                    <span class="func-inline" name="ChgDt" th:text="${dto.commentChgDt()}"></span>
                    <div class="func-inline" th:if="${session.SS_USER_ID}==${dto.userId()}">
                        <span class="comment_edit" th:id="'comment_edit'+${dto.commentSeq()}"
                              th:onclick="doCEdit([[${dto.commentSeq()}]])">수정</span>
                        <span class="comment-del" th:id="'comment-del' +${dto.commentSeq()}"
                              th:onclick="doCDel([[${dto.commentSeq()}]])">삭제</span>
                    </div>
                </div>
            </div>
            <div class="comment-content" th:id="'commentContent' +${dto.commentSeq()}" name="commentContent">
            </div>
        </div>
    </li>
</ul>


<hr>
<div class="comment" th:if="${session.SS_USER_ID}">
    <label class="commentLabel block mt-4 text-sm">
        <textarea
                class="block mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray commentInline"
                id="cContent" name="content" style="height: 60px; width : 750px" rows="3"
                placeholder="댓글 내용을 입력해주세요."></textarea>
        <div class="px-6 my-4 commentInline">
            <button
                    id="btnCInst"
                    class="commentButton items-left w-1/15 px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                    type="button"
            >
                <div class="w-full">
                    <span class="px-4 py-3 text-sm font-semibold">댓글 쓰기</span>
                    <span class="ml-2" aria-hidden="true">+</span>
                </div>
            </button>
        </div>
    </label>
</div>

</body>
</html>

