<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판 글쓰기</title>
    <link rel="stylesheet" href="/css/notice.css"/>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        let currentFiles = [];

        // HTML로딩이 완료되고, 실행됨
        $(document).ready(function () {

            $('#image').on('change', function () {
                // 선택된 파일들을 배열에 추가
                Array.from(this.files).forEach(file => {
                    if (isValidFileType(file)) {
                        currentFiles.push(file);
                    } else {
                        alert(file.name + ' 파일은 지원되지 않는 형식입니다. PNG 또는 JPG 파일만 업로드해주세요.');
                    }
                });
                displayFileList(); // 파일 리스트 업데이트
            });

            // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
            $("#btnSend").on("click", function () {
                doSubmit(); // 공지사항 등록하기 실행
            })

            $("button[type='reset']").on("click", function () {
                currentFiles = [];
                displayFileList(); // 파일 리스트 업데이트
            });
        })

        function isValidFileType(file) {
            const allowedExtensions = ['image/png', 'image/jpeg', 'image/jpg'];
            return allowedExtensions.includes(file.type);
        }

        function displayFileList() {
            const fileList = document.getElementById('fileList');
            fileList.innerHTML = '';
            currentFiles.forEach((file, index) => {
                const fileEntry = document.createElement('div');
                fileEntry.textContent = file.name;
                const removeBtn = document.createElement('button');
                removeBtn.textContent = 'Remove';
                removeBtn.onclick = function () {
                    removeFile(index);
                };
                fileEntry.appendChild(removeBtn);
                fileList.appendChild(fileEntry);
            });
        }

        function removeFile(index) {
            currentFiles.splice(index, 1);
            displayFileList();
        }

        //글자 길이 바이트 단위로 체크하기(바이트값 전달)
        function calBytes(str) {
            let tcount = 0;
            let tmpStr = String(str);
            let strCnt = tmpStr.length;
            let onechar;
            for (let i = 0; i < strCnt; i++) {
                onechar = tmpStr.charAt(i);
                if (escape(onechar).length > 4) {
                    tcount += 2;
                } else {
                    tcount += 1;
                }
            }
            return tcount;
        }

        // 공지사항 저장하기
        function doSubmit() {

            let f = document.getElementById("f"); // form 태그
            const formData = new FormData(f);

            formData.delete('images');

            // 현재 파일 배열에 있는 모든 파일을 FormData에 추가
            if (currentFiles.length > 0) {
                currentFiles.forEach(file => {
                    formData.append('images', file);
                });
            } else {
                formData.append('images', new Blob(), '');
            }

            // 기타 폼 데이터 추가
            formData.append('title', f.title.value);
            formData.append('contents', f.contents.value);

            if (!validateForm(f)) {
                alert('폼 검증 실패')
                return;
            }

            // Ajax 호출해서 글 등록하기
            $.ajax({
                url: "/notice/noticeInsert",
                type: "post", // 전송방식은 Post
                data: formData,
                processData: false,  // 필수: FormData를 사용할 때 false로 설정
                contentType: false,  // 필수: FormData를 사용할 때 false로 설정
                success: function (response) { // /notice/noticeInsert 호출이 성공했다면..
                    alert(response);
                    window.location.href = "/notice/noticeList";
                },
                error: function (xhr, status, error) {
                    alert("Error: " + xhr.responseText);
                }
            });


            function validateForm(f) {
                if (f.title.value === "") {
                    console.log("제목이 비어 있습니다.");
                    alert("제목을 입력하시기 바랍니다.");
                    f.title.focus();
                    return false;
                }
                console.log("제목 검증 통과");

                if (calBytes(f.title.value) > 200) {
                    console.log("제목 길이가 200 Bytes를 초과합니다.");
                    alert("최대 200Bytes까지 입력 가능합니다.");
                    f.title.focus();
                    return false;
                }
                console.log("제목 길이 검증 통과");

                let noticeCheck = false;
                for (let i = 0; i < f.noticeYn.length; i++) {
                    if (f.noticeYn[i].checked) {
                        noticeCheck = true;
                        break;
                    }
                }
                if (!noticeCheck) {
                    console.log("공지글 여부가 선택되지 않았습니다.");
                    alert("공지글 여부를 선택하시기 바랍니다.");
                    f.noticeYn[0].focus();
                    return false;
                }
                console.log("공지글 여부 검증 통과");

                if (f.contents.value === "") {
                    console.log("내용이 비어 있습니다.");
                    alert("내용을 입력하시기 바랍니다.");
                    f.contents.focus();
                    return false;
                }
                console.log("내용 검증 통과");

                if (calBytes(f.contents.value) > 4000) {
                    console.log("내용 길이가 4000 Bytes를 초과합니다.");
                    alert("최대 4000Bytes까지 입력 가능합니다.");
                    f.contents.focus();
                    return false;
                }
                console.log("내용 길이 검증 통과");

                return true;
            }
        }
    </script>
</head>
<body>
<a href="/allergy/main">
    <img src="/image/Allergy_logo.png">
</a>
<hr style="border-width: 5px;"/>
<br/>
<form name="f" id="f">
    <div class="board">
        <div class="board-row">
            <div class="board-cell">제목
            </div>
            <div class="board-cell">
                <input type="text" name="title" maxlength="100" style="width: 95%"/>
            </div>
        </div>
        <div class="board-row">
            <div class="board-cell">공지글 여부
            </div>
            <div class="board-cell">
                예<input type="radio" name="noticeYn" value="Y"/>
                아니오<input type="radio" name="noticeYn" value="N"/>
            </div>
        </div>
        <div class="board-row">
            <div class="board-cell">내용
            </div>
            <div class="board-cell">
                <textarea name="contents" style="width: 95%; height: 400px"></textarea>
            </div>
        </div>
        <div class="board-row">
            <label for="image">이미지 파일 추가</label>
            <input type="file" name="images" id="image" class="form-control-file" multiple accept=".png, .jpg, .jpeg">
            <small class="form-text text-muted">파일을 선택하고 나서 다시 선택하면 추가로 파일을 업로드할 수 있습니다.</small>
        </div>
        <div class="board-row">
            <strong>선택된 파일 목록:</strong>
            <div id="fileList" style="margin-top: 10px;"></div>
        </div>

    </div>
    <div>
        <div class="button-container">
            <button class="write-button" id="btnSend" type="button">등록</button>
            <button class="write-button" type="reset">다시 작성</button>
        </div>
    </div>
</form>
</body>
</html>