<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인 성공</title>
    <link rel="stylesheet" href="/css/table.css"/>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        // HTML 로딩이 완료되고, 실행됨
        $(document).ready(function () {

            $("#btnSend").on("click", function () {
                location.href = "/html/index.html";
            })

            // 일반 로그인
            $("#btnLogout").on("click", function () {

                $.ajax({
                        url: "/user/logout",
                        type: "post",
                        dataType: "JSON",
                        data: $("#f").serialize(),
                        success: function (json) {

                            if (json.result === 1) {
                                alert(json.msg);
                                location.href = "/html/index.html";

                            } else {
                                alert(json.msg);
                                $("#user_id").focus();
                            }
                        }
                    }
                )
            })
        })
    </script>
</head>
<body>
    <div class="divTable minimalistBlack">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">로그인된 사용자아이디
                </div>
                <div class="divTableCell" th:text="${session.SS_USER_ID + '님이 로그인 되었습니다.'}"></div>
            </div>
        </div>
    </div>
    <div></div>
    <br/><br/>
        <button id="btnSend" type="button">메인 화면 이동</button>
        <button id="btnLogout" type="button">로그아웃</button>
</body>
</html>