body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.board {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.board-header, .board-row {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.board-header {
    background-color: #f4f4f4;
    font-weight: bold;
}

.board-row:nth-child(even) {
    background-color: #f9f9f9;
}

.board-cell {
    flex: 1;
    padding: 8px;
    text-align: left;
}

.board-cell-list {
    flex: 1;
    padding: 8px;
    text-align: left;
}

.board-cell:first-child {
    flex: 0 0 50px;
}

.board-cell:nth-child(2) {
    flex: 3;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 10px;
}

.write-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.write-button:hover {
    background-color: #45a049;
}

.comment-box {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.comment-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-name {
    font-weight: bold;
}

.comment-right {
    display: flex;
    align-items: center;
}

.comment_edit, .comment-del {
    margin-left: 10px;
    cursor: pointer;
    color: #007bff;
}

.comment_edit:hover, .comment-del:hover {
    color: #0056b3;
}

.comments-list {
    list-style: none;
    padding: 0;
}

#cContent {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 10px;
    box-sizing: border-box;
}

.commentLabel {
    display: block;
    width: 90%;
    margin: 20px auto;
}

.commentInline {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.commentInline button {
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.commentInline button:hover {
    background-color: #218838;
}

#btnCInst {
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


 .liked {
     margin-top: 20px;
     padding: 10px 20px;
     font-size: 16px;
     background-color: red;
     color: white;
     border: none;
     cursor: pointer;
     border-radius: 5px;
     text-align: center;
 }

.not-liked {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
