<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인 성공</title>
    <link rel="stylesheet" href="/css/table.css"/>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        // HTML 로딩이 완료되고, 실행됨
        $(document).ready(function () {

            $("#btnSend").on("click", function () {
                location.href = "../../static/html/index.html";
            })

            // 일반 로그인
            $("#btnLogout").on("click", function () {

                $.ajax({
                        url: "/user/logout",
                        type: "post",
                        dataType: "JSON",
                        data: $("#f").serialize(),
                        success: function (json) {

                            if (json.result === 1) {
                                alert(json.msg);
                                location.href = "../../static/user/login.html";

                            } else {
                                alert(json.msg);
                                $("#user_id").focus();
                            }
                        }
                    }
                )
            })
        })
    </script>
</head>
<body>
<h1> &nbsp; Allergy</h1>
<hr style="border-width: 5px;"/>
<nav style="position: fixed; top: 50px; right: 50px;">
    <div th:text="${session.SS_USER_ID + ' 님 환영합니다!'}"></div>
</nav>
</body>
</html>