<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>알러지 검색하기</title>
    <link rel="stylesheet" href="/css/search.css">
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/jquery.serializeObject.min.js"></script>
    <script type="text/javascript">

        function search() {
            const query = document.getElementById('search-bar').value;
            if(query) {
                alert("검색어: " + query);
            } else {
                alert("품목코드번호를 입력하세요.");
            }


        }
    </script>
</head>
<body>
<h1> &nbsp; Allergy</h1>
<hr style="border-width: 5px;"/>
<br/>
<div class="search-container">
    <input type="text" id="search-bar" placeholder="품목코드번호를 입력하세요.">
    <button onclick="search()">검색하기</button>
    </br></br>
    <p>품목코드번호를 모르시나요? <a href="/allergy/searchResult" style="color:  #77bb77;">검색하기</a></p>
</div>
</body>
</html>